.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

.switch-link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    margin-right: 20px;

    a {
        color: #3f51b5; // Colore primario di Angular Material
        cursor: pointer;
        text-decoration: underline;

        &:hover {
            color: #303f9f; // Colore più scuro per l'hover
        }
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-self: anchor-center;
}

input.example-right-align {
    -moz-appearance: textfield;
}

button {
    margin-right: 8px;
}

.buttons_login {
    display: flex;
    justify-content: center;
}