.outer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-self: anchor-center;
}

input.example-right-align {
    -moz-appearance: textfield;
}

button {
  margin-right: 8px;
}

.buttons_login {
    display: flex;
    justify-content: center;
}
