<button mat-raised-button color="accent" (click)="toggleForm()">
    {{ showForm ? 'Nascondi Form' : 'Nuovo Utente' }}
</button>

<div *ngIf="showForm" class="form-container">

    <mat-form-field class="example-full-width">
        <mat-label>Tipologia Utente:</mat-label>
        <mat-select [(ngModel)]="tipologiaUtente" name="tipologiaUtente">
            <mat-option [value]="TipoUtente.COMUNALE">Utente Comunale</mat-option>
            <mat-option [value]="TipoUtente.FDO">Utente FDO</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" *ngIf="tipologiaUtente === TipoUtente.FDO">
        <mat-label>Corpo di appartenenza</mat-label>
        <mat-select [(ngModel)]="corpoFDO" name="corpoFDO">
            <mat-option [value]="TipoFDO.POLIZIA">Polizia</mat-option>
            <mat-option [value]="TipoFDO.CARABINIERI">Carabinieri</mat-option>
            <mat-option [value]="TipoFDO.GUARDIA_DI_FINANZA">Guardia di Finanza</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Numero Cellulare</mat-label>
        <span matTextPrefix>+39 &nbsp;</span>
        <input type="tel" matInput placeholder="349-824-5285" [(ngModel)]="cellularPhone"
            (keydown)="validatePhoneInput($event)">
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Mario" [(ngModel)]="name">
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Cognome</mat-label>
        <input matInput placeholder="Rossi" [(ngModel)]="surname">
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <!-- password -->
    <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width" [disabled]="!checkRegisterNotEmpty()"
        (click)="creaUtente($event)">
        Crea Utente
    </button>

</div>


<div *ngIf="showUsers" class="users-list">
    <div class="lista-utenti">
        <h4>Utenti FDO</h4>

        <div class="card" *ngFor="let utente of utentiFDO">
            <div class="card-content">
                <div><strong>Nome:</strong> {{ utente.nome }}</div>
                <div><strong>Cognome:</strong> {{ utente.cognome }}</div>
                <div><strong>Telefono:</strong> {{ utente.telefono }}</div>
                <div><strong>Tipo:</strong> {{ utente.tipoUtente }}</div>
            </div>
            <button mat-fab extended color="warn" class="disable-btn" (click)="disableUtente(utente)">
                <mat-icon>person_off</mat-icon>
                Disabilita Utente
            </button>
        </div>
    </div>

    <div class="lista-utenti">
        <h4>Utenti Comunali:</h4>
        <div class="card" *ngFor="let utente of utentiComunali">
            <div class="card-content">
                <div><strong>Nome:</strong> {{ utente.nome }}</div>
                <div><strong>Cognome:</strong> {{ utente.cognome }}</div>
                <div><strong>Telefono:</strong> {{ utente.telefono }}</div>
                <div><strong>Tipo:</strong> {{ utente.tipoUtente }}</div>
            </div>
            <button mat-fab extended color="warn" class="disable-btn" (click)="disableUtente(utente)">
                <mat-icon>person_off</mat-icon>
                Disabilita Utente
            </button>
        </div>
    </div>

</div>




<button mat-raised-button color="accent" (click)="toggleShow()">
    {{ showUsers ? 'Nascondi Utenti' : 'Mostra Utenti' }}
</button>