<div *ngIf="currentUser?.tipoUtente === TipoUtente.FDO" class="notifiche-container">
    <h2>Notifiche per FDO</h2>

    <div class="segnalazioni-container">
        <h3 class="segnalazioni-title">Notifiche Segnalazioni:</h3>
        <div class="lista-segnalazioni">
            <div class="card" *ngFor="let notifichaSegnalazione of notificheSegnalazioni"> //[ngClass]="segnalazione.tipologia"
                <div><strong>Nuova segnalazione: </strong> {{ notifichaSegnalazione.timeStamp | date:'medium' }}</div>
                <div><strong>Descrizione:</strong> {{ notifichaSegnalazione.idSegnalazione }}</div>
                <div><strong>Tipo:</strong> {{ notifichaSegnalazione.tipoNotifica }}</div>
                <div><strong>Coordinate:</strong> {{ notifichaSegnalazione._id }}</div>

            </div>

            <div *ngIf="notificheSegnalazioni.length === 0" class="empty-state">
                <p class="no-notifications">Nessuna notifica segnalazioni disponibile</p>
            </div>
        </div>
    </div>

    <div class="segnalazioni-container">
        <h3 class="segnalazioni-title">Richieste di allocazione:</h3>
        <div class="lista-allocazioni">
            //LISTA NOTIFICHE RICHIESTE DI ALLOCAZIONE
        </div>
    </div>


</div>
