<main class="main">
  <div class="content">
    <ng-container *ngIf= "showDashboard" >
      <div class="left-side" >
        <div class="example-button-container">

          <button (click)="clickSegnalazioni($event)" mat-fab extended>
            <mat-icon>maps</mat-icon>
            Segnalazioni
          </button>

          <button (click)="clickNotifiche($event)" mat-fab extended>
            <mat-icon>notifications</mat-icon>
            Notifiche
          </button>

          <button (click)="clickUtenti($event)" mat-fab extended>
            <mat-icon>group</mat-icon>
            Gestione Utenti
          </button>

          <button (click)="clickLogout($event)" mat-fab extended>
            <mat-icon>logout</mat-icon>
            Logout
          </button>

        </div>
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
    </ng-container>
    <div class="right-side">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>