<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="segnalazioniPage">
    <div class="segnalazioneSection">
      <div id="map"></div>
      <div class="segnalazioniButtons" *ngIf="currentUser?.tipoUtente === TipoUtente.CITTADINO">
        <button mat-fab extended (click)="creaSegnalazione('urgente')">
          <mat-icon>add</mat-icon>
          Segnalazione Urgente
        </button>

        <button mat-fab extended (click)="creaSegnalazione('normale')">
          <mat-icon>add</mat-icon>
          Segnalazione
        </button>
      </div>

      <div [ngSwitch]="tipoSegnalazione" class="segnalazioneForm" *ngIf="showSegnalazioneForm">
        <mat-card appearance="outlined">
          <mat-card-title *ngSwitchCase="'urgente'">Completa segnalazione urgente:</mat-card-title>
          <mat-card-title *ngSwitchCase="'normale'">Completa segnalazione:</mat-card-title>

          <mat-card-content>
            <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">

                  <mat-form-field>
                    <ng-template matStepLabel>Tipologia segnalazione:</ng-template>
                    <mat-select formControlName="newTipologiaSegnalazione">
                      <mat-option value="RISSA">Rissa</mat-option>
                      <mat-option value="SPACCIO">Spaccio</mat-option>
                      <mat-option value="VANDALISMO">Vandalismo</mat-option>
                      <mat-option value="FURTO">Furto</mat-option>
                      <mat-option value="DEGRADO">Degrado su mezzo pubblico</mat-option>
                      <mat-option value="DISTURBO">Disturbo della quiete</mat-option>
                      <mat-option value="ALTRO">Altro</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>

              </mat-step>
              <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Inserisci una descrizione</ng-template>
                  <mat-form-field class="example-full-width">
                    <mat-label>Scrivi una descrizione</mat-label>
                    <textarea matInput placeholder="Ex. descrizione dettagliata..."
                      formControlName="newDescrizione"></textarea>
                  </mat-form-field>

                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button *ngSwitchCase="'urgente'" matStepperNext>Next</button>
                    <button mat-button (click)="confermaNuovaSegnalazione()" *ngSwitchCase="'normale'">Conferma</button>
                  </div>

                </form>
              </mat-step>
              <mat-step *ngSwitchCase="'urgente'">
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="stepper.reset()">Reset</button>
                  <button mat-button (click)="confermaNuovaSegnalazione()" *ngSwitchCase="'urgente'">Conferma</button>
                </div>
              </mat-step>
            </mat-stepper>

          </mat-card-content>
        </mat-card>
      </div>
      <button mat-raised-button color="primary" (click)="caricaSegnalazioniCluster()">
        <mat-icon>refresh</mat-icon>
        Aggiorna mappa
      </button>
    </div>


  </div>
  <div class="segnalazioni-container">
    <h3 class="segnalazioni-title">Segnalazioni:</h3>
    <div class="filtri">
      <mat-form-field class="example-form-field">
        <mat-label>Periodo</mat-label>
        <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker"
          [comparisonStart]="campaignTwo.value.start" [comparisonEnd]="campaignTwo.value.end">
          <input matStartDate placeholder="Data inizio" formControlName="start">
          <input matEndDate placeholder="Data fine" formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tipologia</mat-label>
        <!-- <mat-select [formControl]="toppings" multiple>
          @for (tipologie of tipologieList; track topping) {
            <mat-option [value]="tipologie">{{topping}}</mat-option>
          }
        </mat-select> -->
        <mat-select [(ngModel)]="tipologieList" name="tipologieList" multiple>
          <mat-option [value]="'DEGRADO'">Degrado</mat-option>
          <mat-option [value]="'RISSA'">Rissa</mat-option>
          <mat-option [value]="'SPACCIO'">Spaccio</mat-option>
          <mat-option [value]="'FURTO'">Furto</mat-option>
          <mat-option [value]="'DISTURBO'">Disturbo</mat-option>
          <mat-option [value]="'VANDALISMO'">Vandalismo</mat-option>
          <mat-option [value]="'ALTRO'">Altro</mat-option>
        </mat-select>
      </mat-form-field>



      <div class="btn">
        <mat-button-toggle-group name="stato-segnalazioni" aria-label="Stato segnalazioni"
          [formControl]="statoSegnalazioni" [hideMultipleSelectionIndicator]="hideMultipleSelectionIndicator()"
          multiple>
          <mat-button-toggle value="aperte">Aperte</mat-button-toggle>
          <mat-button-toggle value="chiuse">Chiuse</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="filtri-actions">
        <button mat-raised-button color="primary" (click)="applicaFiltri()">
          <mat-icon>filter_list</mat-icon>
          Applica Filtri
        </button>
      </div>
    </div>
    <div class="lista-segnalazioni">
      <div class="card" [ngClass]="segnalazione.tipologia" *ngFor="let segnalazione of segnalazioni">
        <div><strong>ID:</strong> {{ segnalazione._id }}</div>
        <div><strong>Descrizione:</strong> {{ segnalazione.descrizione }}</div>
        <div><strong>Tipo:</strong> {{ segnalazione.tipologia }}</div>
        <div><strong>Data:</strong> {{ segnalazione.timeStamp | date:'short' }}</div>
      </div>
    </div>
  </div>
</body>

</html>